{% extends "base.html" %}{% load staticfiles %}


 <div id="content" class="container" >
    <div class="crumbs_container70  text-center">

        <div class=" welcome crumbs_table_head" style="background-image: url(data:image/png;base64,);">
            <h2 class="no_margin text-center handbook_title">crumbs<span class="handbook text-center">-Update the detail {{ email_id }}</span>
            </h2>
        </div>   

{% if user.username %}
     <p>{{ user.username }}
     {% include "home.html" %}

{% else %}
<center>  
      {% block title %}<center><b>Login</b></center>{% endblock %}
      {% block head %}<center><b>Login</b></center>{% endblock %}
      {% block content %}    
                {% if form.errors %}
                      <p>Your username and password didn't match. Please try again.</p>
                {% endif %}  
                {% if next %}
                    {% if user.is_authenticated %}
                        
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                {% if error %}
                      <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
</center>
    <form method="post" form="LoginForm" action=".">{% csrf_token %}
        <div>
        <center>
        <table border="1">
            <tbody>
            <tr valign="center"><th><label for="id_username">Username:</label></th><td><td><input type="text" placeholder="Username" name="username" required="true" class="form-control" autocomplete="off"/></td></td></tr>
            <tr valign="center"><th><label for="id_password">Password:</label></th><td><td><input type="password" placeholder="Password" name="password" required="true" class="form-control" autocomplete="off"/></td></td></tr>
            </tbody>
        </table>
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="/accounts/home" />
        </center>
        </div>
    </form>
        <center><a href="/register">Register</a></center>{% endblock %}      
{% endif %}
    </div>
</div>

  
