{% extends "base.html" %}
 <div id="content" class="container" >
    <div class="crumbs_container70  text-center">

        <div class=" welcome crumbs_table_head" style="background-image: url(data:image/png;base64,);">
            <h2 class="no_margin text-center handbook_title">crumbs<span class="handbook text-center">-Update the detail {{ email_id }}</span>
            </h2>
        </div>
        {% block title %}<center><b>User Registration</b></center>{% endblock %}
        {% block head %}<center><b>User Registration</b></center>{% endblock %}
        {% block content %}
   
    <form method="post" action=".">{% csrf_token %}
        <div class="inputdiv">
        <center>
        <table border="0">
            {{ form.as_table }}
        </table>
            <input type="submit" value="Register" />
        </center>
        </div>
    </form>
    <center><a href="/accounts/login">Login</a></center>
    </div>
    </div>
{% endblock %}
{% include 'partials/footer.html' %}