{% extends "base.html" %}
<div id="content" class="container" >
    <div class="crumbs_container70  text-center">

        <div class=" welcome crumbs_table_head" style="background-image: url(data:image/png;base64,);">
            <h2 class="no_margin text-center handbook_title">crumbs<span class="handbook text-center">-Update the detail {{ email_id }}</span>
            </h2>
        </div>   
{% block title %}Registration Successful{% endblock %}
{% block head %}<center>
 Registration Completed Successfully</center>
{% endblock %}

{% block content %}
    <center>
  Thank you for registering.
    <a href="/accounts/login">Login</a></center> 
{% endblock %}
    </div>
</div>

