<!-- 
* Created by Neunets pvt. Ltd., for crumbles 
* User: Arasu.B
* Date: 1/30/2017
* Time: 12:48 PM
-->

<!DOCTYPE html>
{% include 'partials/header.html' %}

<div class="crumbles-sucess">
    <div>

        {% if PDFFilePath %}
        <div class="container crumbs_container"><p>Your Handbook for tableau Workbook : <b>{{ tableauFile }}</b> has been generated sucessfully <br/><br/>
             Download your Handbook @ <a href="{{ PDFFilePath }}" target="_blank"> Handbook PDF</a> <br/><br/>
        </p>
        </div>
        {% endif %}

        {% if wronginput %}
            <h2> {{ wronginput }} </h2>
        {% endif %}

        {% if EULA %}
            <h2> {{ EULA }} </h2>
        {% else %}
           <div class="container crumbs_container"> <p> To Generate a new handbook <a href="\">Click here</a> </p></div>
        {% endif %}

    </div>
</div>

{% include 'partials/footer.html' %}