<!-- 
* Created by Neunets pvt. Ltd., for crumbles 
* User: Arasu.B
* Date: 2/13/2017
* Time: 12:08 PM
-->

<!DOCTYPE html>
{% include 'partials/header.html' %}

<div class="crumbles-eula">
    <h2> End User License Agreement </h2>

    This End-User License Agreement (this “Agreement”) is a legal contract between you, as either an individual or an
    Entity (as defined below), and COOKIE ANALYTIX PRIVATE LIMITED, a company registered and existing under the laws of
    India (“Company”). <br /><br />
    READ THE TERMS AND CONDITIONS OF THIS AGREEMENT CAREFULLY BEFORE DOWNLOADING, INSTALLING, OBTAINING A LICENSE KEY,
    OR OTHERWISE ACCESSING OR USING COMPANYS’ PROPRIETARY SOFTWARE, INCLUDING SOFTWARE AS A SERVICE, ACCOMPANIED BY THIS
    AGREEMENT (the “SOFTWARE”).  <br /><br />
    THE SOFTWARE IS COPYRIGHTED AND IT IS LICENSED TO YOU UNDER THIS AGREEMENT, NOT SOLD TO YOU.  BY DOWNLOADING,
    INSTALLING, OBTAINING A LICENSE KEY, OR OTHERWISE ACCESSING OR USING THE SOFTWARE, YOU ACKNOWLEDGE THAT YOU HAVE
    READ THIS AGREEMENT, THAT YOU UNDERSTAND IT, AND THAT YOU ACCEPT AND AGREE TO BE BOUND BY ITS TERMS.  IF YOU ARE
    ACCEPTING THIS AGREEMENT ON BEHALF OF A COMPANY, ORGANIZATION, EDUCATIONAL INSTITUTION, OR AGENCY, INSTRUMENTALITY
    OR DEPARTMENT OF A GOVERNMENT (AN “ENTITY”) AS ITS AUTHORIZED LEGAL REPRESENTATIVE, THEN YOU REPRESENT AND WARRANT
    THAT YOU HAVE THE POWER AND AUTHORITY TO BIND SUCH ENTITY TO THESE TERMS, AND REFERENCES TO “YOU” HEREIN REFER TO
    BOTH YOU, THE INDIVIDUAL END USER, AND THE ENTITY ON WHOSE BEHALF YOU ARE ACCEPTING THIS AGREEMENT.  <br /><br />
    IF AT ANY TIME YOU ARE NOT WILLING TO BE BOUND BY THE TERMS OF THIS AGREEMENT, YOU SHOULD CLICK THE “I DO NOT
    ACCEPT” OR SIMILAR BUTTON, TERMINATE THE DOWNLOAD AND/OR INSTALLATION PROCESS, IMMEDIATELY CEASE AND REFRAIN FROM
    ACCESSING OR USING THE SOFTWARE AND DELETE ANY COPIES YOU MAY HAVE. THIS AGREEMENT, ALONG WITH ANY ADDITIONAL TERMS
    OR POLICIES INCORPORATED HEREIN BY REFERENCE, REPRESENTS THE ENTIRE AGREEMENT BETWEEN YOU AND COMPANYS CONCERNING
    THE SOFTWARE, AND THIS AGREEMENT SUPERSEDES AND REPLACES ANY PRIOR PROPOSAL, REPRESENTATION, OR UNDERSTANDING YOU
    MAY HAVE HAD WITH COMPANYS RELATING TO THE SOFTWARE, WHETHER ORALLY OR IN WRITING.<br /><br /><br /><br />
    1. <h4 class="eula-list"> License.</h4><br /><br />
    1.1 <h5 class="eula-list">  Grant of License.</h5> Subject to your full and ongoing compliance with the terms and conditions of this Agreement,
    including without limitation payment of all applicable license fees, the applicable Company’s entity from which you
    obtained the Software hereby grants to you, and you accept, a personal, limited, nonexclusive, nontransferable,
    non-assignable, revocable license to use the Software during the Term in machine-readable, object code form only.
    For purposes of this Agreement, the “Software” includes any updates, enhancements, modifications, revisions, or
    additions to the Software made by Company’s and made available to end-users. Notwithstanding the foregoing, Company
    shall be under no obligation to provide any updates, enhancements, modifications, revisions, or additions to the
    Software.
    <br /><br />
    1.2<h5 class="eula-list">  Scope of Use.</h5> Your license to use the Software is conditioned on the following license restrictions, and any use
    of the Software in violation of any of these restrictions, or any of the other terms of this Agreement is a breach
    of this Agreement and is unlicensed. For purposes of this Agreement, “use” of the software means loading the
    Software into the temporary or permanent memory of an Authorized Device or using it online without downloading it in
    your system.
    <br /><br />
    1.3<h5 class="eula-list">  Evaluation Licenses. </h5> In the event, you obtained a trial or evaluation version of the Software, it will come
    with a trial activation key that activates the Software for a limited time (the "Trial Period").  You may use the
    Software during the Trial Period for internal noncommercial purposes, solely to evaluate the suitability of the
    Software for your needs.  Upon the expiration of the Trial Period you must either purchase an activation key or
    destroy the Software, Documentation, all backup copies thereof, and all trial activation keys that you have
    obtained.  If you do not purchase an activation key prior to the expiration of the Trial Period, this Agreement, and
    all your rights and licenses hereunder will terminate at the expiration of the Trial Period.
    <br /><br />
    1.4<h5 class="eula-list">  Copies and Modifications.</h5> Except and solely to the extent that such a restriction is prohibited under applicable
    law, you may not reverse engineer, decompile, disassemble, or otherwise translate the Software or any license keys
    you have obtained. You may not modify or adapt the Software or any license keys that you have obtained in any way.
    Any such copies of the Software, Documentation, or license keys shall include any copyright or other proprietary
    notices that were included on such materials when you first received them. Except as authorized in this Section, no
    copies of the Software, Documentation, or license keys, or any portions thereof, may be made by you or any person
    under your authority or control.
    <br /><br />
    1.5<h5 class="eula-list">   Assignment of Rights.</h5> You will not sublicense, lease, rent, or lend your rights in the Software, Documentation,
    or license keys, as granted by this Agreement, without prior written consent of Company. Company may assign this
    Agreement without limitation.  Any assignment in violation of the foregoing shall be void and of no effect.  Subject
    to the foregoing, this Agreement shall bind and inure to the benefit of the parties and their respective successors
    and permitted assigns.
    <br /><br />
    1.6<h5 class="eula-list"> Support and Maintenance Services; Updates; Upgrades.</h5>  Company will not provide any support or maintenance
    services under this Agreement.  You acknowledge that Company has no express or implied obligation to announce or
    make available any updates, enhancements, modifications, revisions, or additions to the Software and that this
    Agreement does not give you any rights in or to any of the foregoing.<br /><br />
    2. <h4 class="eula-list">Intellectual Property and Confidentiality.</h4> <br /><br />
    2.1 <h5 class="eula-list"> Proprietary Rights to Software and Trademarks.</h5> You acknowledge that the Software and the Documentation are
    proprietary to Company, and the Software and Documentation are protected under Indian copyright and other
    Intellectual Property laws. You further acknowledge and agree that, as between you and Company. Company and its
    third-party licensors own and shall continue to own all right, title, and interest in and to the Software and
    Documentation, including associated Intellectual Property Rights under copyright, trade secret, patent, or trademark
    laws.  Except for the limited, revocable license expressly granted to you herein, this Agreement does not grant you
    any ownership or other right or interest in or to the Software or the Documentation or any other intellectual
    property rights of Company, whether by implication, estoppel, or otherwise.  Any and all trademarks or service marks
    that Company uses in connection with the Software or with services rendered by Company are marks owned by Company.
    This Agreement does not grant you any right, license, or interest in such marks, and you shall not assert any right,
    license, or interest in such marks or any words or designs that are confusingly similar to such marks.
    <br /><br />
    2.2 <h5 class="eula-list"> Open Source Software.</h5> The Software may contain, incorporate or be provided with open source libraries,
    components, utilities and other open source software (collectively, “Open Source Components”), which Open Source may
    have applicable license terms. Notwithstanding anything to the contrary herein, use of the Open Source Components
    shall be subject to the applicable Open Source license terms and conditions to the extent required by the applicable
    licensor (which terms shall not restrict the license rights granted to Customer, hereunder but may contain
    additional rights).
    <br /><br />
    2.3 <h5 class="eula-list"> Data Protection.</h5>  Company undertakes to comply with the Data protection principles under Data Protection Act,
    1998, with respect of processing the personal data. The Company ensures to not disclose any data which gets stored
    on the company server in any file format (in case of using the online software version). The data which is stored on
    the Company’s servers shall remain there by default for a period of 30 days and purged/deleted on the expiry of such
    term. All data uploaded or used on the Company’s downloadable software is not stored in any manner on the Company’s
    server and the Company disclaims any liability in such condition.
    <br /><br />
    2.4 <h5 class="eula-list"> Confidentiality.</h5>  You shall permit only authorized users, who possess rightfully obtained license keys, or
    permission to use the Software or to view the Documentation. Except as expressly authorized by this Agreement, you
    shall not make available the Software, Documentation, or any license key to any third party, or use the Software,
    Documentation, or any license key for any purpose other than exercising rights expressly granted to you hereunder.
    You agree to cooperate with and assist Company in identifying and preventing any unauthorized use, copying, or
    disclosure of the Software, Documentation, or any portion thereof.
    The Company will also maintain the confidentiality of the information collected by the online software for
    processing the output, and not disclose it anywhere, without the consent of the user. Furthermore, such information
    will only be stored on the server for the period of 30 days following which the information will get deleted
    automatically as mentioned in Clause 2.3 above.
    <br /><br />
    2.5 <h5 class="eula-list"> Consent to Use Data.</h5>  You agree that Company may collect and use technical data and related information,
    including but not limited to technical information about Your device, system and application software, and
    peripherals, that is gathered periodically to facilitate the provision of software updates, product support and
    other services to You (if any) related to the Licensed Application. Application Provider may use this information,
    as long as it is in a form that does not personally identify You, to improve its products or to provide services or
    technologies to You.
    <br /><br />
    3.  <h4 class="eula-list"> Term and Termination.</h4> This Agreement is effective upon your acceptance of the Agreement, or upon your
    downloading, installing, accessing, and using the Software, even if you have not expressly accepted this Agreement.
    This Agreement shall continue in effect until terminated by You or Company Your rights under this license will
    terminate automatically without notice from the Application Provider if You fail to comply with any term(s) of this
    license. Upon termination of the license, you shall cease all use of the Licensed Application, and destroy all
    copies, full or partial, of the Licensed Application.<br /><br />
    4.  <h4 class="eula-list">Third Party Software.</h4>  The Software which is distributed to you may include various third party software
    components or software services ("Third Party Software" and together with the Software, the “Package”) which are
    provided under separate license terms (the "Third Party Terms"), (if applicable) You may have broader rights to use
    the Third-Party Software under the applicable Third Party Terms.  Nothing in this Agreement is intended to impose
    further restrictions on your use of the Third-Party Software in accordance with any Third-Party Terms.  The Software
    may also enable interoperation with certain other third party operating systems and applications. Company does not
    provide you with any such Third-Party licenses and it is solely your responsibility to obtain all necessary software
    licenses from respective vendors.
    <br /><br />
    5.  <h4 class="eula-list"> LIMITED WARRANTIES; DISCLAIMER </h4>
    <br /><br />
    5.1 <h5 class="eula-list"> Warranties.</h5> The package and documentation are licensed “As is,” and Company disclaims any and all other
    warranties, whether express, implied, or statutory including, without limitation, any implied warranties of
    merchantability, satisfactory quality, fitness for a particular purpose, accuracy, timeliness, title, or
    non-infringement of third party rights, to the fullest extent authorized by law.  Without limiting the generality of
    the foregoing, Company expressly disclaims all warranties of any kind for the third party software, and does not
    warrant that the package will meet your requirements or that operation of the package will be uninterrupted, timely,
    secure, or error free, that defects or errors in the package will be corrected or that the package will be
    compatible with future Company products, or that any information or data stored or transmitted through the package
    will not be lost, corrupted or destroyed. You assume responsibility for selecting the package to achieve your
    intended results, and for the results obtained from your use of the package. You shall bear the entire risk as to
    the quality and the performance of the package.
    <br /><br />
    5.2 <h5 class="eula-list"> Limitation of Liability.</h5>  In no event shall Company be liable to you or any party related to you for any
    indirect, incidental, consequential, special, exemplary, or punitive damages (including, without limitation, damages
    for loss of business profits, business interruption, loss of business information, loss of data or other such
    pecuniary loss), whether under a theory of contract, warranty, tort (including negligence), products liability, or
    otherwise, even if Company has been advised of the possibility of such damages. The foregoing limitations will apply
    even if the above stated remedy fails of its essential purpose.  
    <br /><br />
    6. <h4 class="eula-list">GOVERNING LAW AND CHOICE OF FORUM.</h4>  This Agreement shall be governed by the laws of India. Any claim or disputes
    arising in connection with the Agreement shall be resolved through arbitration as per process set out below and
    agree to seek the intervention of Court at Bengaluru, India only for the purposes set out in the Arbitration and
    Conciliation Act, 1996.
    <br /><br />
    7. <h4 class="eula-list">SEVERABILITY.</h4>  If any term or provision of this Agreement is declared void or unenforceable in a particular
    situation, by any judicial or administrative authority, this declaration shall not affect the validity or
    enforceability of the remaining terms and provisions hereof or the validity or enforceability of the offending term
    or provision in any other situation.  To the extent possible the provision will be interpreted and enforced to the
    greatest extent legally permissible in order to effectuate the original intent, and if no such interpretation or
    enforcement is legally permissible, shall be deemed severed from the Agreement.<br /><br />
    8. <h4 class="eula-list"> SURVIVAL.</h4> Sections containing confidentiality, IPR, Non- Disclosure shall survive the termination or expiration
    of this Agreement, regardless of the cause for termination or expiration, and shall remain valid and binding
    indefinitely.<br /><br />
    9. <h4 class="eula-list"> HEADINGS.</h4>  The Article and Section headings contained in this Agreement are included for reference purposes only
    and shall not affect the meaning or interpretation of this Agreement. <br /><br />
    10. <h4 class="eula-list"> NO WAIVER. </h4> The failure of either party to enforce any rights granted hereunder or to take action against the
    other party in the event of any breach hereunder shall not be deemed a waiver by that party as to subsequent
    enforcement of rights or subsequent actions in the event of future breaches <br /><br /> <br /><br />
</div>

{% include 'partials/footer.html' %}