<!-- 
* Created by Neunets pvt. Ltd., for crumbles 
* User: Arasu.B
* Date: 1/4/2017
* Time: 7:45 PM
-->
<!DOCTYPE html>
{% include 'partials/header.html' %}
<div id="loading" style="display:none;margin: 0 auto;"><div class="loading-text">Generating your handbook, please wait ......</div></div>

   <div id="content" class="container" >
    <div class="crumbs_container70  text-center">

        <div class=" welcome crumbs_table_head" style="background-image: url(data:image/png;base64,);">
            <h2 class="no_margin text-center handbook_title">crumbs<span class="handbook text-center">-your Tableau Handbook</span>
            </h2>
        </div>


        <form method="post" enctype="multipart/form-data" name="crumblesform">
            {% csrf_token %}
            
                <!--<table class="page1-table">-->
                    <!--<tbody>-->
                    <!--<tr class="page1-twbname">-->
                        <!--<td style="">Tableau Workbook Name : <strong id="fileName"> </strong></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
               
                 <!--<table  style=" background-image: url(data:image/png;base64,);"  class="page1-table">-->
                    <!--<tbody>-->
                    <!--<tr class="page1-tr">-->
                        <!--<th style=";" valign="center"><strong>Company Logo</strong></th>-->
                        <!--<td style="border-bottom:1px solid black;font-family: Georgia, serif;">-->
                            <!--<input type="file" name="logofile" accept="image/*" id="logofile" />-->
                            <!--&lt;!&ndash;<input type="file" name="logo" accept="image/x-png,image/gif,image/jpe"/>&ndash;&gt;-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <table class="table crumbs_table_index">
                <tbody>
                        <tr>
                            <th valign="center"><strong>Company Name:</strong></th>
                            <td><input type="text" placeholder="Company Name" name="company_name" class="form-control" autocomplete="off"/></td>
                        </tr>
                        <tr>
                            <th valign="center"><strong>About the File:</strong></th>
                            <td><textarea placeholder="About the File" name="about" style="width:100%;resize: vertical;" rows="1" cols="150" maxlength="250"></textarea></td>
                        </tr>
                        <tr>
                            <th valign="center"><strong>Uploaded By:</strong></th>
                            <td><input type="text" placeholder="Uploaded By" name="uploaded_by" class="form-control" autocomplete="off"/></td>
                        </tr>
                        <tr>
                            <th valign="center"><strong>Developed by:</strong></th>
                            <td><input type="text" placeholder="Developed By" name="developed_by"  class="form-control" autocomplete="off"/></td>
                        </tr>
                        <tr>
                            <th valign="center"><strong>Approved by:</strong></th>
                            <td><input type="text" placeholder="Approved By" name="approved_by" class="form-control" autocomplete="off"/></td>
                        </tr>
                        <tr>
                        <th valign="center"><strong>Date of Approval:</strong></th>
                            <td><input type="text" placeholder="Date of Approval" name="date_approved" id="date_approved"  class="form-control" autocomplete="off"/></td>
                        </tr>
                        <tr>
                            <th valign="center"><strong>E-Mail:<div  class="crumbs_required"><span>*</span></div> </strong></th>
                            <td><input type="email" placeholder="Email Id" name="email_id" required="true" class="form-control" autocomplete="off"/></td>
                        </tr>
                        <tr>
                            <th valign="center"><strong>Phone Number:</strong></th>
                            <td><input type="text" placeholder="Phone Number" name="phone_number" class="form-control" autocomplete="off"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="checkbox" name="checkbox" value="check" id="agree" required="true" checked/>
                                <span>I have read and agree to the <a href="/eula" target="_blank" > EULA and Privacy Policy</a></span>
                            </td>
                        </tr>
                        <tr>
                            <th valign="center"><strong>Select  File: <div class="crumbs_required"><span>*</span></div></strong></th>
                            <td class="select-file">
                            <div class="col-xs-9">
                            <input type="file" accept=".twbx,.twb" name="uploadedfile" class="file-upload" required="true" id="fileToUpload" />
                            </div>
                            <div class="col-xs-3">
                            <input type="submit" value="Upload File" name="submit" class="file-upload file-submit" onclick="loading();">
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--<table class="page1-table page1-logo" style="background-image: url(data:image/png;base64,);">-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td style="width:20%;"><span id="clogo"><h1>LOGO</h1>-->
                            <!--<input type="file" name="logo" accept="image/*"/>-->
                        <!--</span></td>-->
                        <!--<td style="text-align:right;width:80%;font-color:grey">-->
                                <!--<h2><font><span id="cname">Company Name</span></font></h2>-->
                                <!--<input type="text" placeholder="Company Name" name="company_name"  style="width:250px;"/>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->

              
              
            </div>
        </form>
        </div>
    </div>
    </div>
        <!--<div class="backgroundInfo">http://127.0.0.1:8000/
        <!--<table style="margin-top: 2cm; background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody><tr>-->
        <!--<td style="width:20%;"><span id="clogo"><h1>LOGO</h1></span></td>-->
        <!--<td style="text-align:right;width:80%;font-color:grey"><h2><font color="#808080"><span id="cname">[Company Name]</span></font></h2></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table style="background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody><tr>-->
        <!--<td style="width:100%; padding: 20px 0px; font-size: 1.4em;">Tableau Workbook Name : <strong id="fileName"> ' + os.path.splitext(tableauFile)[0] + '</strong></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table style="margin-bottom: 5px; background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody><tr style="background-color:black;">-->
        <!--<td style="width:100%;padding:5px 0px;"></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table style=" background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td style="width:150px" valign="bottom"><strong>About the File:</strong></td>-->
        <!--<td style="border-bottom:1px solid black;"><pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; width:750px;" id="background"></pre></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table style=" background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td style="width:150px;" valign="bottom"><strong>Requested by:</strong></td>-->
        <!--<td style="border-bottom:1px solid black;font-family: Georgia, serif;"><p id="rb" style="width:100%;"></p></td>-->
        <!--<td style="width:150px;" valign="bottom"><strong>Requested date:</strong></td>-->
        <!--<td style="border-bottom:1px solid black;"><p id="rd" style="width:100%;"></p></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table style=" background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td style="width:150px;" valign="bottom"><strong>Developed by:</strong></td>-->
        <!--<td style="border-bottom:1px solid black;font-family: Georgia, serif;"><p id="db" style="width:100%;"></p></td>-->
        <!--<td style="width:150px;" valign="bottom"><strong>Completed date:</strong></td>-->
        <!--<td style="border-bottom:1px solid black;"><p id="cd" style="width:100%;"></p></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table style="background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td style="width:150px;" valign="bottom"><strong>Approved by:</strong></td>-->
        <!--<td style="border-bottom:1px solid black;font-family: Georgia, serif;"><p id="approved" style="width:100%;"></p></td>-->
        <!--<td style="width:150px;" valign="bottom"><strong>Revision No:</strong></td>-->
        <!--<td style="border-bottom:1px solid black;"><p id="revision" style="width:100%;"></p></td>-->


        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table style="margin-top: 5px; background-image: url(data:image/png;base64,);" align="center">-->
        <!--<tbody><tr style="background-color:black;">-->
        <!--<td style="width:100%;padding:5px 0px;"></td>-->
        <!--</tr>-->
        <!--</tbody></table>-->
        <!--<p style="line-height: 115%"><br></p>-->
        <!--<p style="line-height: 115%"><br></p>-->
    </div>
    {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    <!--<p>File uploaded at: <a href="{{ full_path }}">{{ full_path }}</a></p>-->
    <!--<p>Tableau File: {{ tableauFile }}</p>-->
    <!--<p>Extract FileList:-->
    <!--<span>{{ extractFileList }}</span>-->
    <!--</p>-->
    {% if PDFFilePath %}
    <p> {{ tableauFile }} Handbook <a href="{{ PDFFilePath }}" target="_blank"> Datasources PDF</a> <br/><br/>
        {% endif %}
        <!--<ul>-->
        <!--{% for result in xmlDatasourceList %}-->
        <!--<li>{{ result-->
        <!--}}</li>-->
        <!--&lt;!&ndash;<li>{{ result.workbookInformation }}, {{ result.datasources4 }}, {{ result.datasources3 }}</li>&ndash;&gt;-->
        <!--{% endfor %}-->
        <!--</ul>-->
        <!--<span> {{ xmlDatasourceList | safe }}</span>-->
        <!--{{ xmlDatasourceList }}-->
        <!--{% autoescape off %}{{ xmlDatasourceList }}{% endautoescape %}-->
        <!--{% autoescape off %}{{ xmlDashboardList }}{% endautoescape %}-->
        <!--{% autoescape off %}{{ Columns }}{% endautoescape %}-->
        <!--{{ Columns }}-->
        {% autoescape off %}{{ bodyContent }}{% endautoescape %}
        <!--{% autoescape off %}{{ page3Dashboards }}{% endautoescape %}-->
    </p>
    <!--{{xmlDashboardListJSON}}-->
    <!--{{d3Data}}-->
    <!--<br /><br /><br />-->

    {% endif %}

    <!--<p id="uploadProcess">Uploading...<br/><img src="img/loader.gif"/></p>-->
    </div>
    <div>
        <!--<script src="http://d3js.org/d3.v3.min.js" > </script>-->
        <!--<header>-->
        <!--<button onclick="expandAll()">Expand All</button>-->
        <!--<button onclick="collapseAll()">Collapse All</button>-->
        <!--</header>-->
    </div>
    

</div>
{% include 'partials/footer.html' %}