{% load staticfiles %}
<div class="footerwrap">
    <div class="footer-right-wrap">
        <div class="footer-nav-wrap">
        </div>
        <!-- /.footer-nav-wrap -->
        <div class="footer-text clearfix">
            <div class="footer-text-inner">
                <div class="one">&copy; <a href="http://www.cookieanalytix.com">Cookie Analytix</a> 2017</div>
                <div class="two"></div>
            </div>
        </div>
        <!-- /.footer-text -->
    </div>
</div>
</div>

<script type="text/javascript" src="{% static 'parser/d3.v3.min.js' %}"></script>
<script type="text/javascript">
        <!--var flare =  {% autoescape off %}{{ d3Data }}{% endautoescape %};-->
        var flare ='';

</script>
<script type="text/javascript">
        function loading(){
                <!--var elem = document.getElementById("email_id").value;-->
                var email = document.crumblesform.email_id.value;
                var twbfile = document.crumblesform.uploadedfile.value;
                <!--var agree = document.crumblesform.agree.value;-->
                <!--alert(agree);-->
                if(document.getElementById('agree').checked) {
                    <!--alert(email);-->
                    <!--alert(twbfile);-->
                    if(typeof email !== 'undefined' && email !== null && email !=="" && twbfile !== "") {
                            $("#loading").show();
                            $("#content").hide();
                    }
                    return true;
                 }
                 else {
                    alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy');
                     return false;
                }
        }
</script>
<script type="text/javascript" src="{% static 'parser/d3_tree.js' %}"></script>
{% if DEBUG %}
    <script>

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-91754292-1', 'auto');
          ga('send', 'pageview');
    </script>
{% endif %}
</body>
</html>