<!DOCTYPE html>
{% load staticfiles %} {% load rev %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crumbs - Your Tableau Handbook </title>
    {% load static %}
    <link href="{% static 'img/favicon.png' %}" rel="favicon icon" />
    <link rel="stylesheet" type="text/css" href="{% static_rev 'build/css/tableau.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'parser/style2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'parser/style.css' %}"/>  
    <link rel="stylesheet" type="text/css" href="{% static 'parser/bootstrap.css' %}"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'parser/pdf.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'parser/tableau.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'parser/style.css' %}"/>  
    <link rel="stylesheet" type="text/css" href="{% static 'parser/jquery-ui.css' %}"/> -->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'parser/font-awesome.min.css' %}" />-->
    <script type="text/javascript" src="{% static 'parser/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'parser/jquery-ui.js' %}"> </script>
    <script>
      $( function() {
        $( "#date_approved" ).datepicker();
      } );
    </script>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="logo">
                <a href="http://www.cookieanalytix.com" target="_blank">
                    <img src=" ../../static/img/crumbslogo.png" alt="Crumbs-Logo" class="crumbs-logo" />
                </a>
            </div>
            <div class="navbar-header">
                <ul id="main-nav" class="main-nav menu-name-cookie-menu">
                    <li>
                        <a href="http://crumbs.cookieanalytix.com/" target="_blank">ABOUT</a></li>
                        <li>
                        
                    <li><a href="http://www.cookieanalytix.com/#contact" target="_blank">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

