
{% include 'partials/header.html' %}
    <!-- For Dev env. -->
    <!--<div class="error">-->
        <!--<h1> Oops! Something went wrong !!! </h1>-->
        <!--<span>-->
                    <!--{{ error_message }}-->
        <!--</span>-->
        <!--<span>-->
                    <!--{{ traceback }}-->
        <!--</span>-->
    <!--</div>-->

    <!-- For Prod env. -->
    <div class="error">
        <h1> Unable to generate Handbook, </h1> <h2> Error has been reported to Crumbs Team</h2>
        <span> For more details <a class="navbar-contact" href="http://www.cookieanalytix.com/#contact">ContactUs</a></span>
        <!--<span>{{url}} {{email_id}}</span>-->
        <!--<span>-->
                    <!--{{ error_message }}-->
        <!--</span>-->
        <!--<span>-->
                    <!--{{ traceback }}-->
        <!--</span>-->
    </div>


{% include 'partials/footer.html' %}